<center><span style="color:red; font-size:30px">EJERCICIOS FOR</span></center>

<span style="color:blue; font-size:20px">
EJERCICIO 01
</span>

<div class=text-justify>
Escribir un programa que pida al usuario un número entero positivo mayor que 2 y muestre por pantalla si es un número primo o no.
</div>

In [ ]:
# JESUS

def n_primo (num):
    bandera = True
    for n in range(2,num):
        if num % n == 0: 
           bandera = False
    if bandera == False:
       print('No Primo')
    else:
       print('Primo')
        
n = numeroEnteroPositivoMayor2('Ingrese numero entero positivo mayor a 2? ') 
n_primo(n)

In [ ]:
def n_primo2(num):
    bool = True
    for n in range(2,num):
        if num % n == 0:
            print("Número no primo")
            bool = False
            return bool
    print('El número es primo')
    return bool

n = numeroEnteroPositivoMayor2('Ingrese numero entero positivo mayor a 2? ') 
n_primo2(n)

In [ ]:
# LENA
n = numeroEnteroPositivoMayor2("Ingrese un número entero positivo? ")
print(n)

divisible = 0
for i in range(2, n):
    if n % i == 0:
        divisible += 1 # divisible = divisible + 1

if divisible == 0:
    print("El número es primo")
else:
    print("El número no es primo")

<span style="color:blue; font-size:20px">
EJERCICIO 02
</span>

<div class=text-justify>
Dibujar un árbol de navidad de altura n, que será ingresado por teclado y será un número entero positivo. Por ejemplo, si ingresamos en n=10 el resultado será el siguiente árbol
<br/>

<pre>
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
</pre>

In [ ]:
n = 11
j = 1
#  u = a + (n-1)r
u = 1 + (n-1)*2
e = u // 2
print(u)
for i in range(1,n+1,1):
    print(' '*e + '*'*j)
    j = j + 2
    e = e - 1

In [ ]:
print('a'*5)

<span style="color:blue; font-size:20px">
EJERCICIO 03
</span>

<div class=text-justify>
Ingresar una cadena por teclado y se mostrá en pantalla la impresión de la cadena como se muestra abajo que es un ejemplo de la cadena HolaMundo.
</div>

In [ ]:
<pre>
H
Ho
Hol
Hola
HolaM
HolaMu
HolaMun
HolaMund
HolaMundo
</pre>

In [ ]:
cadena = 'Sebastian'
longitud = len(cadena) + 1
for i in range(longitud):
    print(cadena[0:i]) # 1, 2, 3   cadena[0:1]  cadena[0:2]   9 = 0..8

<span style="color:blue; font-size:20px">
LIBRERIA
</span>

In [1]:
import re
def numeroEnteroPositivoMayor2(mensaje): 
    patron = '[0-9]+'
    while True:
          cadena = input(mensaje)
          correcto = bool(re.fullmatch(patron,cadena)) and int(cadena) > 2
          if not correcto:
             print("Error: Vuelva a ingresar el dato")
          else:
             break
    return int(cadena)

def numeroEntero(mensaje): 
    #patron = '-[0-9]+'
    patron = "-[0-9]+||[0-9]+"
    while True:
          cadena = input(mensaje)
          correcto = re.fullmatch(patron,cadena)
          if not correcto:
             print("Error: Vuelva a ingresar el dato")
          else:
             break
    return int(cadena)

<span style="color:blue; font-size:20px">
EJERCICIO 04
</span>

In [ ]:
# Obtener los primeros 100 números primos

def n_primo (num):
    bandera = True
    for n in range(2,num):
        if num % n == 0: 
           bandera = False
    if bandera == False:
       return False
    else:
       return True

for x in range(2,1001,1):
    y = n_primo(x)
    if y:
       print('%4d' % (x), end=' ')

<span style="color:blue; font-size:20px">
EJERCICIO 05
</span>

In [2]:
# Convertir un número decimal a binario

n = numeroEntero('Ingrese número decimal? ')
lista = []

while True:
    c = n // 2
    r = n % 2
    lista.append(r)
    if n < 2:
       break
    n = c
print('Equivalente binario: ',lista[::-1])

Ingrese número decimal? 255
Equivalente binario:  [1, 1, 1, 1, 1, 1, 1, 1]

<span style="color:blue; font-size:20px">
EJERCICIO 06
</span>

In [4]:
# Escriba un programa que pida 
# dos números enteros y que escriba si el mayor es múltiplo del menor.
import os
os.system('cls')

n1 = int(input('INGRESE NUMERO 1?'))
n2 = int(input('INGRESE NUMERO 2?'))

if n1 > n2:
    if n1%n2 == 0:
        print(n1,' es multiplo de ',n2)
    else:
        print(n1,' no es multiplo de ',n2)
if n2 > n1:
    if n2%n1 == 0:
        print(n2,' es multiplo de ',n1)
    else:
        print(n2,' no es multiplo de ',n1)

INGRESE NUMERO 1?2
INGRESE NUMERO 2?14
14  es multiplo de  2

<span style="color:blue; font-size:20px">
EJERCICIO 07
</span>

In [ ]:
# De dos listas de coordenadas cartesianas que luego serán procesadas para
# obtener otras 2 listas con sus coordenadas polares.
//ENTRADA
x = [2, 4, 5, 8, 9]
y = [8, 9, 12, 7, 5]
//SALIDA
angulo =
radio  =

 angulo = round(math.atan(y/x) * 180 / math.pi,2)
radio =   math.sqrt(x**2 + y**2)

In [10]:
import math
import pandas as pd

x1 = [2,4,5,8,9]
y2 = [8,9,12,7,5]

angulo = []
radio = []

for x,y in zip(x1,y2):
    angu = round(math.atan(y/x) * 180 / math.pi,2)
    rad = round(math.sqrt(x**2 + y**2))
    angulo.append(angu)
    radio.append(rad)

print(angulo)
print(radio)

cartesiana_d = {'x':x1, 'y':y2}
polares_d = {'a':angulo, 'r':radio}

datos_d = {'X':x1, 'Y':y2, 'ANGULO':angulo,'RADIO':radio}
df = pd.DataFrame(datos_d)
df

[75.96, 66.04, 67.38, 41.19, 29.05]
[8, 10, 13, 11, 10]

   X   Y  ANGULO  RADIO
0  2   8   75.96      8
1  4   9   66.04     10
2  5  12   67.38     13
3  8   7   41.19     11
4  9   5   29.05     10

<span style="color:blue; font-size:20px">
EJERCICIO 08
</span>

In [ ]:
Convertir binario a decimal

In [8]:
# WALTER
n = 1001  # 9 decimal
numero_str = str(n)
print(numero_str)
longitud = len(numero_str) 
a = 0
for i in range(longitud):
    longitud = longitud - 1
    t = int(numero_str[i]) * 2**longitud
    a = a + t
print('Binario: ',n)
print('Decimal: ',a)

1001
Binario:  1001
Decimal:  9

In [5]:
# STEVEN
import math
def convertirbinariodecimal():
    n=1001
    binario = str(n)
    lon = len(binario) - 1 #  4 - 1 = 3
    decimal = 0
    for i in range(0,len(binario)):
          decimal = int(binario[i]) * math.pow(2,lon) + decimal
          lon = lon -1
    print('Binario: ',n)
    print('Decimal: ',int(decimal))
        
convertirbinariodecimal()

Binario:  1001
Decimal:  9

<span style="color:blue; font-size:20px">
EJERCICIO 09
</span>

In [16]:
# DADO 2 LISTAS DE NUMEROS ENTEROS OBTENER LOS ELEMENTOS COMUNES DE AMBAS LISTAS

int_l1 = [2,3,1,6, 5]
int_l2 = [4,8,1,7, 5, 5]
int_l3 = []

for x in int_l1:
    for y in int_l2:
        if x == y:
           int_l3.append(x)

print(int_l3)
conjunto = set(int_l3)
lista = list(conjunto)
print(lista)

x = range(1,4,1)
print(type(x))

Y = 'HOLA'
print(Y[3])

[1, 5, 5]
[1, 5]
<class 'range'>
A

TIPOS DE DATOS: int, str, float, bool, list, set, dict, range, tuple
                    
TIPOS DE DATOS CONJUNTO: list, set, dict, tuple, range, str

In [ ]:
#### LISTAS POR COMPRENSION

In [25]:
lista = [7, 8, 9, 0, 1, 4, 2, 4]

lista1 = [x for x in lista if x<3]

lista2 = ['1','3','4']
lista3 = [int(x) for x in lista2]

lista4 = [x for x in lista if x%2==0]

lista5 = [0 if x%2==0 else 1 for x in lista]

print(lista1)
print(lista3)
print(lista4)
print(lista5)

[0, 1, 2]
[1, 3, 4]
[8, 0, 4, 2, 4]
[1, 0, 1, 0, 1, 0, 0, 0]